
<div class="row">
  <div class="center">
    <h3>Inscription</h3>
  </div>
</div>


{% trans_default_domain 'FOSUserBundle' %}
{{form_start(form, {'method': 'POST', 'attr':{'class': 'register'}})}}
{{ form_end(form) }}
