{% extends '::base.html.twig'%}

{% block body %}
</head>
<body>
  <div class="bgimg-1">
    <div class="caption">
      <h1 class="font-weight-bold" style="color:white;">THE PURIST.</h1>
      <h3>
        <a href="" class="typewrite" data-period="2000" data-type='["Bienvenue sur mon site !", "Je suis un développeur web", "Ici vous pourrez en apprendre plus sur ce que je fais", "Vous pouvez consulter mes réalisations", "Pourquoi pas même me contacter ? ;)" ]'>
        </a>
      </h3>
      <div class="scroll-downs">
        <div class="mousey">
          <div class="scroller"></div>
        </div>
      </div>
    </div>
  </div>

  <div align="center" style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">  <i class="material-icons animated fadeIn delay-1s" style="font-size:40px;">assignment_ind</i> <br>A PROPOS DE MOI</h3>
    <br>
    <h5 align="center">
     Je m'appelle Frédéric, je suis un développeur spécialisé dans le développement web.
     Ayant suivi un cursus scolaire toujours orienté autour de l'informatique,
     j'ai appris à aimer le "code" grâce à <a href="https://www.simplon.co" target="_blank">Simplon.co</a> , là où j'ai appris à développer en PHP et HTML/CSS.
     Passionné de nouvelles technologies, je laisse exprimé ma créativité dans l'édition musicale et photographique à mes temps perdus.
     Je vous invite à voir quelques réalisations que j'ai pu faire en suivant ce <a href="/production">lien</a>.
    </h5>
  </div>

  <div class="bgimg-2">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
    </div>
  </div>

  <div class="bgimg-3">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SCROLL UP</span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
    </div>
  </div>

  <div class="bgimg-1">
    <div class="caption">
      <span class="border">COOL!</span>
    </div>
  </div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript">

var TxtType = function(el, toRotate, period) {
  this.toRotate = toRotate;
  this.el = el;
  this.loopNum = 0;
  this.period = parseInt(period, 10) || 2000;
  this.txt = '';
  this.tick();
  this.isDeleting = false;
};

TxtType.prototype.tick = function() {
  var i = this.loopNum % this.toRotate.length;
  var fullTxt = this.toRotate[i];

  if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
  } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
  }

  this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

  var that = this;
  var delta = 200 - Math.random() * 100;

  if (this.isDeleting) { delta /= 2; }

  if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
  } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
  }

  setTimeout(function() {
    that.tick();
  }, delta);
};

window.onload = function() {
  var elements = document.getElementsByClassName('typewrite');
  for (var i=0; i<elements.length; i++) {
    var toRotate = elements[i].getAttribute('data-type');
    var period = elements[i].getAttribute('data-period');
    if (toRotate) {
      new TxtType(elements[i], JSON.parse(toRotate), period);
    }
  }
  // INJECT CSS
  var css = document.createElement("style");
  css.type = "text/css";
  css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
  document.body.appendChild(css);
};
</script>
{% endblock %}
